%hr
%ul.sidebar-menu
  -# list all headings
  - menu.each_permitted_heading(roles) do |h|
    %li{class: "#{h.links.empty? ? '' : 'treeview'}#{(h.active) ? ' active' : ''}"}
      %a{href: "#{h.path ? h.replaced_path : '#'}", class: h.classes.empty? ? '' : h.classes.join(' ')}
        - unless h.icon.nil?
          %i{class: h.icon.join(' ')}
        %span= h.name
        - unless h.links.empty?
          %i.fa.pull-right.fa-angle-left
      - unless h.links.empty?
        %ul.treeview-menu{style: "#{(h.active) ? 'display: block;' : ''}"}
          -# list all links under heading
          - h.each_permitted_link(roles) do |l|
            %li{class: "#{l.classes.empty? ? '' : l.classes.join(' ')}#{(l.active) ? ' active' : ''}"}
              %a{href: l.path ? l.replaced_path : "#"}
                %i.fa.fa-angle-double-right
                - unless l.icon.nil?
                  %i{class: l.icon.join(' ')}
                = l.name
%hr