Welcome #{@user.name},
your account on #{ENV['NAME']} has been successfully created. You can login here: #{@login_page}.

!!! Please, change your password as soon as possible !!!

===== login credentials =======
email: #{@user.email}
password: #{@user.password}
===============================

Your admin team