= simple_form_for(@variable_field) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :unit
    = f.input :higher_is_better
    = f.input :is_numeric
    = f.input :is_global if is_admin?
    = f.association :variable_field_category, collection: @variable_field_categories_accessible, prompt: "-"

  - if @variable_field.has_to_confirm_edit?
    .alert.alert-warning
      = t("variable_field.edit_confirmation", token: @confirmation)
    = f.input :modification_confirmation

  .form-actions
    = f.button :submit, t('dictionary.save'), class: 'btn-primary'
    %a.btn#show-add-new-field-category{href:'#'}= t('vf.new.add_category')

#add-new-field-category{style: "display:none"}
  %h3 Add new category
  = simple_form_for(:variable_field_category, {remote: true, url: variable_fields_add_new_category_path, action: :post}) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name

    .form-actions
      = f.button :submit, 'Add'