-# TODO: add actions - variable field optimal values (list, new)
- content_for :heading do
  = t('vf.index.variable_fields')

- breadcrumb :variable_fields

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th Variable field category
      %th
      %th
      %th
  %tbody
    - @variable_fields.each do |variable_field|
      %tr{id: "vf_#{variable_field.id}"}
        %td= link_to variable_field.name, variable_field
        %td= variable_field.description
        %td= dash_or_value variable_field.user, :name
        %td= dash_or_value variable_field.variable_field_category, :name
        - if variable_field.user == current_user && is_coach?
          %td.edit= link_to t('vf.index.edit'), edit_variable_field_path(variable_field)
          %td.delete= link_to t('vf.index.delete'), variable_field, :method => :delete, :data => { :confirm => t('vf.index.are_you_sure') }
        - else
          %td{colspan: 2}

%br

= link_to 'New Variable field', new_variable_field_path
