-# TODO: add actions - variable field optimal values (list, new)
- content_for :heading do
  = t('vf.index.variable_fields')

- breadcrumb :variable_fields

%a.btn.btn-success{href: new_variable_field_path}= t('vf.index.new')

%table.table.table-striped
  %thead
    %tr
      %th= t('vf.index.name')
      %th= t('vf.index.user')
      %th= t('vf.index.variable_field_category')
      %th
      %th
      %th
  %tbody
    - @variable_fields.each do |variable_field|
      %tr{id: "vf_#{variable_field.id}"}
        %td= link_to variable_field.name, variable_field

        %td= dash_or_value variable_field.user, :name
        %td= dash_or_value variable_field.variable_field_category, :name
        - if (variable_field.user == current_user && !variable_field.is_global?) || is_admin?
          %td.edit= link_to t('vf.index.edit'), edit_variable_field_path(variable_field)
          %td.delete= link_to t('vf.index.delete'), variable_field, :method => :delete, :data => { :confirm => t('vf.index.are_you_sure') }
        - else
          %td{colspan: 2}

=paginate @variable_fields, theme: 'twitter-bootstrap-3'
