- content_for :heading do
  = t('vf.show.vf_detail')

- breadcrumb :variable_field

= link_to t('dictionary.edit'), edit_variable_field_path(@variable_field), class: 'btn btn-success'

%table.table
  %tbody
    %tr
      %th= t('vf.show.name')
      %td= @variable_field.name
    %tr
      %th= t('vf.show.description')
      %td= @variable_field.description
    %tr
      %th= t('vf.show.unit')
      %td= @variable_field.unit
    %tr
      %th= t('vf.show.higher_is_better')
      %td!= ApplicationHelper.labelize_boolean @variable_field.higher_is_better
    %tr
      %th= t('vf.show.is_numeric')
      %td!= ApplicationHelper.labelize_boolean @variable_field.is_numeric
    %tr
      %th= t('vf.show.is_global')
      %td!= ApplicationHelper.labelize_boolean @variable_field.is_global
    %tr
      %th= t('vf.show.category')
      %td= link_to @variable_field.variable_field_category.name, variable_field_category_path(@variable_field.variable_field_category)

