= simple_form_for(@user_group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :long_description, input_html: {class: 'textarea'}
    = f.input :visibility, as: :radio_buttons, collection: UserGroup::GROUP_VISIBILITIES

  .form-actions
    = f.button :submit
