- content_for :heading do
  = t('user_groups.index.user_groups')

- breadcrumb :user_groups

- if is_admin? || is_coach?
  #action-box
    = link_to t('user_groups.index.new_group'), new_user_group_path, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th= t('user_groups.index.name')
      %th= t('user_groups.index.description')
      %th= t('user_groups.index.global')
      %th= t('user_groups.index.visibility')
      %th= t('user_groups.index.owner')
      %th
      %th
      %th
  %tbody
  - @user_groups.each do |user_group|
    %tr
      %td= user_group.name
      %td= user_group.description
      %td!= ApplicationHelper.labelize_boolean user_group.is_global
      %td!= UserGroupsHelper.labelize_group_visibility(user_group.visibility)
      %td
        - if user_group.owner
          = link_to user_group.owner.name, user_path(user_group.owner)
        - else
          -
      %td= link_to t('dictionary.show'), user_group
      - if is_admin? || user_group.owner == current_user
        %td= link_to t('dictionary.edit'), edit_user_group_path(user_group)
        %td= link_to t('dictionary.delete'), user_group, :method => :delete, :data => { :confirm => t('dictionary.are_you_sure') }
      - else
        %td{colspan: 2}

= paginate @user_groups, theme: 'twitter-bootstrap-3'
