- content_for :heading do
  = t('user.index.users')

- breadcrumb :users

- if is_admin?
  #action-box
    = link_to t('user.index.new_user'), new_user_path, class: 'btn btn-success'

%table.table.table-stripped
  %thead
    %tr
      %th
      %th= t('user.index.username')
      %th= t('user.index.email')
      %th= t('user.index.registered')
      %th= t('user.index.relations')
      - if is_admin?
        %th= t('user.index.roles')
      - if is_admin?
        %th
        %th
        %th
  %tbody
    - @users.each do |user|
      %tr
        %td
          = image_tag user.avatar.small.url, alt: "#{user.name} avatar" unless user.avatar.small.url.blank?
        %td= link_to user.name, user
        %td= user.email
        %td= user.created_at.to_datetime.full(locale)
        %td
          - user.get_my_relations_with_statuses([:new, :accepted, :refused]).select{|r| r.from == current_user || r.to == current_user}.each do |r|
            - if r.relation == :coach
              - if r.from == current_user
                != UserRelationsHelper.labelize_relation :player
              -elsif r.to == current_user
                != UserRelationsHelper.labelize_relation :coach
            - else
              != UserRelationsHelper.labelize_relation r.relation
        - if is_admin?
          %td
            - user.roles.map{|r| r.name}.each do |r|
              %span.label.label-primary= r
        - if is_admin?
          %td= link_to t('user.index.edit'), edit_user_path(user)
          %td= link_to 'change role', set_roles_user_path(user)
          %td= link_to t('user.index.delete'), user_path(user), :data => { :confirm => t('dictionary.are_you_sure') },
          :method => :delete, class: 'btn btn-danger' unless user == current_user

= paginate @users, theme: 'twitter-bootstrap-3'