%h1 Sport training club

.box.box-default
  .box-header
    %h3.box-title= t('home.index.about_us')
  .box-body
    Some short story about us and over club ..

%h2.page-header= t('home.index.our_public_trainings')

- @regular_trainings.each do |t|
  .box.box-info
    .box-header
      %h3.box-title= t.name
    .box-body
      = sanitize t.description
      %h4.page-header= t('home.index.training_lessons')
      %table.table.table-striped
        %thead
          %tr
            %th= t('home.index.day')
            %th= t('home.index.from')
            %th= t('home.index.until')
            %th= t('home.index.season')
            %th= t('home.index.even_week')
            %th= t('home.index.odd_week')
        %tbody
          - t.training_lessons.each do |l|
            %tr
              %td!= TrainingLessonsHelper.day_in_week_graphic_display l.day
              %td= l.from.short
              %td= l.until.short
              %td
                - if !l.from_date.nil? && !l.until_date.nil?
                  #{l.from_date} - #{l.until_date}
                - else
                  = t('home.index.not_limited')
              %td!= ApplicationHelper.labelize_boolean l.even_week
              %td!= ApplicationHelper.labelize_boolean l.odd_week