%h1 Listing payments

%table
  %tr
    %th Amount
    %th Status
    %th Currency
    %th Received by
    %th
    %th
    %th

  - @payments.each do |payment|
    %tr
      %td= payment.amount
      %td= payment.status
      %td= payment.currency
      %td= payment.received_by
      %td= link_to 'Show', payment
      %td= link_to 'Edit', edit_payment_path(payment)
      %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
