- content_for :heading do
  = t('user_relations.new_request.new_relation')

- breadcrumb :user_relations_my_new, current_user

= simple_form_for @user_relation, url: create_request_user_relations_path do |f|
  = f.input :second_user, input_html: { data: {'guesser' => 'email'} }
  - if is_admin? || is_coach?
    = f.input :relation, as: :radio_buttons, collection: { 'I want to be FRIEND of selected user' => 'friend',
                                                           'I want to be COACH of selected user' => 'coach',
                                                           'I want to be WATCHER of selected user' => 'watcher' }
  - elsif is_player?
    = f.input :relation, as: :radio_buttons, collection: { 'I want to be FRIEND of selected user' => 'friend',
                                                           'I want to be WATCHER of selected user' => 'watcher' }
  - elsif is_watcher?
    = f.input :relation, as: :radio_buttons, collection: { 'I want to be WATCHER of selected user' => 'watcher' }

  = f.submit class: 'btn btn-primary'