= simple_form_for(@regular_training) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description, as: :text, input_html: { class: 'textarea' }
    = f.input :public
    - if @regular_training.user_group
      = f.input :user_group, as: :select, collection: @groups_select, selected: @regular_training.user_group.id
    - else
      = f.input :user_group, as: :select, collection: @groups_select, prompt: '-'

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
