- content_for :heading do
  = t('regular_trainings.index.regular_trainings')

- breadcrumb :regular_trainings
- if is_admin? || is_coach?
  #action-box
    = link_to t('regular_trainings.index.new_training'), new_regular_training_path, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th= t('regular_trainings.index.name')
      %th= t('regular_trainings.index.public')
      %th= t('regular_trainings.index.owner')
      %th
      %th
      %th
  %tbody
    - @regular_trainings.each do |regular_training|
      %tr
        %td= regular_training.name
        %td!= ApplicationHelper.labelize_boolean regular_training.public
        %td
          - if regular_training.user
            = link_to regular_training.user.name, regular_training.user
        %td= link_to 'Show', regular_training
        - if is_admin? || regular_training.user == current_user
          %td= link_to 'Edit', edit_regular_training_path(regular_training)
          %td= link_to 'Destroy', regular_training, :method => :delete, :data => { :confirm => t('dictionary.are_you_sure') }
        - else
          %td{colspan: 2}

= paginate @regular_trainings, theme: 'twitter-bootstrap-3'


