- content_for :heading do
  = t('vat.index.vats')

- breadcrumb :vats

#action-box
  = link_to t('vat.index.new_vat'), new_vat_path, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th= t('vat.index.name')
      %th= t('vat.index.percentage_value')
      %th= t('vat.index.is_time_limited')
      %th= t('vat.index.start_of_validity')
      %th= t('vat.index.end_of_validity')
      %th
      %th

  %tbody
  - @vats.each do |vat|
    %tr
      %td= vat.name
      %td= vat.percentage_value
      %td!= ApplicationHelper.labelize_boolean(vat.is_time_limited)
      %td= vat.start_of_validity.to_datetime.full if vat.start_of_validity
      %td= vat.end_of_validity.to_datetime.full if vat.end_of_validity
      %td= link_to t('dictionary.edit'), edit_vat_path(vat)
      %td= link_to t('dictionary.delete'), vat, :method => :delete, :data => { :confirm => t('dictionary.are_you_sure') }

= paginate @vats, theme: 'twitter-bootstrap-3'