%p#notice= notice

%p
  %b Name:
  = @vat.name
%p
  %b Percentage value:
  = @vat.percentage_value
%p
  %b Is time limited:
  = @vat.is_time_limited
%p
  %b Start of validity:
  = @vat.start_of_validity
%p
  %b End of validity:
  = @vat.end_of_validity

= link_to 'Edit', edit_vat_path(@vat)
\|
= link_to 'Back', vats_path
