= simple_form_for @variable_field_measurement do |f|
  = f.error_notification

  .form-inputs
    = f.input :variable_field_id, as: :hidden
    = f.input :measured_at, as: :datetime_picker
    = f.input :locality
    - if @variable_field_measurement.variable_field.is_numeric?
      = f.input :int_value
    - else
      = f.input :string_value
    - if is_admin? || is_coach?
      %hr
      = f.association :measured_by, collection: User.all.order('name') if is_admin?
      = f.association :measured_for, collection: User.all.order('name')


  .form-actions
    = f.button :submit, class: 'btn-primary'
