= simple_form_for(@training_lesson) do |f|
  = f.error_notification

  .form-inputs
    = f.input :description
    = f.input :day
    = f.input :from
    = f.input :until
    = f.input :calculation
    = f.input :from_date
    = f.input :until_date
    = f.input :player_price_without_tax
    = f.input :group_price_without_tax
    = f.input :rental_price_without_tax
    = f.association :training_vat
    = f.input :rental_vat
    = f.association :regular_training

  .form-actions
    = f.button :submit
