- content_for :heading do
  = t('vf.list.user_variable_fields')

- breadcrumb :user_variable_fields, @user

= link_to t('vf.list.view_all_available_fields'), variable_fields_path, class: 'btn btn-info'

- @variable_fields.each do |k, vfc|

  %h2= vfc[:detail].name
  - vfc[:items].each do |vf|
    .nav-tabs-custom{id: "vf-#{vf[:field].id}", class: "vf-name-#{vf[:field].name}"}
      / Tabs within a box
      %ul.nav.nav-tabs.pull-right{style: "cursor: move;"}
        %li.active
          %a{"data-toggle" => "tab", href: "#summary-#{vf[:field].id}"} Summary
        %li
          %a{"data-table" => "lvf", "data-remote" => "true", "data-type" => "json", "data-table-id" => "#{vf[:field].id}", href: table_user_variable_field_path(params[:user_id], vf[:field].id)} Latest data
        %li
          %a{"data-chart" => "lvf", "data-remote" => "true", "data-type" => "json", "data-chart-id" => "#{vf[:field].id}", href: graph_user_variable_field_path(params[:user_id], vf[:field].id)} Chart
        %li
          =link_to t('vf.list.add_new_measurement'), add_measurement_user_variable_field_path(params[:user_id], vf[:field].id), class: 'btn btn-success'
        %li.pull-left.header
          %i.fa.fa-inbox
          %a{href: detail_user_variable_field_path(@user, vf[:field].id) }
            %h3.inline= vf[:field].name

      .tab-content
        %div.tab-pane.active{id: "summary-#{vf[:field].id}"}
          .row
            .col-sm-3.current-value-box
              .box.box-solid.box-info
                .box-header
                  %h4.box-title= t('vf.list.current_value')
                .box-body
                  - if vf[:field].is_numeric
                    .bigger= "#{vf[:latest_measurement].int_value} #{vf[:field].unit}"
                  - else
                    .bigger
                      = vf[:latest_measurement].string_value
                      = vf[:field].unit
                  %table.table
                    %tbody
                      %tr
                        %th= t('vf.list.date')
                        %td= vf[:latest_measurement].measured_at.to_date.full(locale)
                      %tr
                        %th= t('vf.list.location')
                        %td= vf[:latest_measurement].locality

            .col-sm-5
              .row
                - if vf[:field].is_numeric
                  .col-sm-6.best-value-box
                    .box.box-success
                      .box-header
                        %h4.box-title= t('vf.list.best')
                      .box-body
                        %table.table.small.condensed
                          %tbody
                            %tr
                              %th= t('vf.list.value')
                              %td
                                %strong.bigger= vf[:best_measurement].int_value
                            %tr
                              %th= t('vf.list.date')
                              %td= vf[:best_measurement].measured_at.to_date.full(locale)
                            %tr
                              %th= t('vf.list.location')
                              %td= dash_or_value(vf[:best_measurement], :locality)
                  .col-sm-6.worst-value-box
                    .box.box-danger
                      .box-header
                        %h4.box-title= t('vf.list.worst')
                      .box-body
                        %table.table.small.condensed
                          %tbody
                            %tr
                              %th= t('vf.list.value')
                              %td
                                %strong.bigger= vf[:worst_measurement].int_value
                            %tr
                              %th= t('vf.list.date')
                              %td= vf[:worst_measurement].measured_at.to_date.full(locale)
                            %tr
                              %th= t('vf.list.location')
                              %td= dash_or_value(vf[:worst_measurement], :locality)
                - else
                  .alert= t('vf.list.statistic_info_not_available')
                / Description of variable field
            .col-sm-4.info-value-box
              .box.box-info
                .box-header
                  %h3.box-title= t('vf.list.description')
                .box-body
                  =vf[:field].description
        %div.tab-pane{id: "table-#{vf[:field].id}"}

        %div.chart.tab-pane{id: "chart-#{vf[:field].id}"}
