%header.header
  %a.logo{href: dashboard_path}= ENV['APP_NAME']
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{role: "navigation"}
    / Sidebar toggle button
    %a.navbar-btn.sidebar-toggle{'data-toggle' => "offcanvas", role: "button"}
      %span.sr-only= t('template.header.toggle_nav')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    %div.nav.navbar-right

      %ul.nav.navbar-nav
        -#
          / Messages: style can be found in dropdown.less
          %li.dropdown.messages-menu
            %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
              %i.fa.fa-envelope
              %span.label.label-success 4
          -#
            %ul.dropdown-menu
              %li.header You have 4 messsages
              %li
                %ul.menu
                  %li
                    %a{href: "#"}
                      %div.pull-left
                        %img.img-circle
                      %h4 Header
                      %p text
              %li.footer
                %a{href: "#"} See all

        / Notifications: style can be found in dropdown.less
        -#
          %li.dropdown.notifications-menu
            %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
              %i.fa.fa-warning
              %span.label.label-warning 8
        -#
          %ul.dropdown-menu
            %li.header= t('template.header.you_have_x_new_notifications', count: 8)
            %li
              %ul.menu
                %li
                  %a{href: "#"}
                    %i.ion.ion-ios7-people.info NA - notification item

            %li.footer
              %a{href: "#"}= t('template.header.view_all')


        / User Account: style can be found in dropdown.less
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
            %i.glyphicon.glyphicon-user
            %span
              = current_user.name
              %i.caret

          %ul.dropdown-menu
            / User image
            %li.user-header.bg-light-blue
              - unless current_user.avatar.url.blank?
                = image_tag current_user.avatar.medium.url, alt: "#{current_user.name} avatar img", class: 'img-circle'
              - else
                - unless current_user.sex.blank?
                  = image_tag "/public/defaults/#{current_user.sex.to_s}_no_avatar_medium.png", alt: "#{current_user.name} no avatar img", class: 'img-circle'
                - else
                  = image_tag "/public/defaults/no_sex_no_avatar_medium.png", alt: "#{current_user.name} no avatar img", class: 'img-circle'

              %p
                = current_user.email
                %small= "Member since #{current_user.created_at.to_datetime.full(locale)}"
            / Menu Body
            %li.user-body
              .col-xs-12.text-center
                My roles:
                - current_user.roles.each do |r|
                  != UserHelper::labelize_user_role(r)
            / Menu Footer
            %li.user-footer
              .pull-left
                = link_to t('template.header.profile'), edit_user_path(current_user), class: 'btn btn-default btn-flat'
              .pull-right
                = link_to t('template.header.sign_out'), destroy_user_session_path, class: 'btn btn-default btn-flat'
