!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}
    %title
      - if content_for?(:title)
        = yield(:title)
      - elsif content_for?(:heading)
        = yield(:heading)
      - else
        Scapp
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Scapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"
    = csrf_meta_tags

  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
    = javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"

  - if content_for?(:content)
    = yield :content
  - else
    %body.bg-black
      = render 'layouts/messages'
      = yield