!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}
    %title= content_for?(:title) ? yield(:title) : 'Scapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Scapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"
    = csrf_meta_tags

  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
    = javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"

  %body.skin-blue
    / header logo: style can be found in header.less
    = render 'layouts/header'

  .wrapper.row-offcanvas.row-offcanvas-left
    / Left side column. contains the logo and sidebar
    = render 'layouts/left_sidebar'
    / Right side column. Contains the navbar and content of the page
    %aside.right-side
      / Content Header (Page header)
      %section.content-header
        %h1
          -if content_for?(:heading)
            = yield(:heading)
          - elsif content_for?(:title)
            = yield(:title)
          - else
            = t('template.main.dashboard')
          %small= t('template.main.control_panel')
        - if content_for? :breadcrumbs
          = yield(:breadcrumbs)
        - else
          %ol.breadcrumb
            %li
              %a{href: "/"}
                %i.fa.fa-dashboard
                = t('template.main.dashboard')
            %li.active= t('template.main.home')
      / Main content
      %section.content
        = render 'layouts/messages'
        = yield