= simple_form_for(@variable_field_category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :rgb
    = f.input :description
    - if is_admin?
      = f.input :is_global
      = f.association :user

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
