- content_for :heading do
  = t('vfc.index.variable_field_categories')

- breadcrumb :variable_field_categories

-if is_coach? || is_admin?
  #action-box
    %a.btn.btn-success{href: new_variable_field_category_path}= t('vfc.index.new')

%table.table.table-striped
  %tr
    %th= t('vfc.index.name')
    %th= t('vfc.index.rgb')
    %th= t('vfc.index.description')
    %th= t('vf.index.user')
    %th
    %th
    %th

  - @variable_field_categories.each do |variable_field_category|
    %tr
      %td= variable_field_category.name
      %td= variable_field_category.rgb
      %td= variable_field_category.description
      %td= dash_or_value(variable_field_category.user, 'name')
      %td= link_to 'Show', variable_field_category
      %td= link_to 'Edit', edit_variable_field_category_path(variable_field_category)
      %td= link_to 'Destroy', variable_field_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

=paginate @variable_field_categories, theme: 'twitter-bootstrap-3'
