- content_for :heading do
  = t('nav.variable_field_category')

- breadcrumb :variable_field_categories_detail

%table.table
  %tbody
    %tr
      %th= t('vfc.show.name')
      %td= @variable_field_category.name
    %tr
      %th= t('vfc.show.rgb')
      %td= @variable_field_category.rgb
    %tr
      %th= t('vfc.show.description')
      %td= @variable_field_category.description
    %tr
      %th= t('vfc.show.global')
      %td!= ApplicationHelper.labelize_boolean(@variable_field_category.is_global)
    %tr
      %th= t('vfc.show.user')
      %td
        - unless @variable_field_category.user.nil?
          = link_to @variable_field_category.user.name, @variable_field_category.user
        - else
          \-

